{#
/**
 * @file
 * Default theme implementation for a OCHA polis wrapper formatter.
 *
 * Available variables:
 * - attributes: Iframe attributes.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('ocha_polis/polis-responsive-iframe') }}
<div class="ocha-polis">
  <div
    {{ attributes }}
    class="polis"
    data-border="none"
    data-border_radius="0px"
    data-padding="0px"
    data-width="{{ width }}"
    data-ucsf="0"
    data-ui_lang="en"></div>
</div>
